@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
  color: #010b40;
}

.table-centered {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-modal {
  width: 80vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
}

.clock {
  background-color: #0e4d92;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
}
h3 {
  color: white;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

h4 {
  color: #0e4d92;
  padding: 5px;
  /* text-align: center; */
  font-size: 20px;
}

p {
  font-size: 28px;
}

.stopwatch-card {
  position: absolute;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 60px;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* button {
  outline: none;
  background: transparent;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 7px;
  color: blue;
  cursor: pointer;
} */

/* .buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
} */

.instaruction-page-wrapper {
  width: 100%;
  background: rgb(205, 217, 225);
  min-height: 100vh;
  padding: 10px 5%;
}
.instruction-page-inner {
  width: 100%;
  border: 3px solid rgb(0, 153, 203);
  border-radius: 5px;
  padding: 10px;
}

.proceed-to-test-button {
  width: 100%;
  padding: 20px 0px 40px 0px;
}

.box {
  background-color: lightblue;
  text-align: center;
  font-size: 25px;
  width: 15%;
  height: 40px;
  margin: 10px 10px 10px 30px;
}

.reasendmail-container-register {
  background: linear-gradient(
    to right,
    rgb(80, 190, 189),
    rgb(0, 153, 153),
    rgb(0, 153, 203)
  );
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
  min-height: 100px;
  padding: 40px;
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.bgcolor {
  background: linear-gradient(
    to right,
    rgb(131, 58, 180),
    rgb(131, 58, 180),
    rgb(252, 70, 107)
  );
}
